// Base Class Definition
// -------------------------

.fa:before, .fal:before, .far:before, .fas:before {
  font-family: 'FontAwesome5';
}
.fab:before {
  font-family: 'FontAwesome5Brands';
}

.#{$fa-css-prefix},
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

%fa-icon {
  @include fa-icon;
}
