/*=========================================================
-----         ** 16. demon custom gedöns **           -----
=========================================================*/
.section-padding {
  position: relative;
  display: block;
  padding-top: 5rem;
  padding-bottom: 3.125rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.intro-page .navbar:not(.top-nav-collapse) {
  background-color: transparent !important;
}

html, body, header, .jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html, body, header, .jarallax {
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    &:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }
}

.font-small {
  font-size: 0.9rem;
}

.intro h1 {
  font-family: inherit;
  font-size: 2.25em;
  line-height: 1.1;
  margin: .55em 0 .25em;
  color: inherit;
}

@media screen and (max-width: 768px) {
  header h3.display-4 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 542px) {
  header h3.display-4 {
    font-size: 2rem;
  }
}

#home .btn-blue:hover {
  opacity: 1;
  opacity: 0.6;
}

footer .list-unstyled li > a {
  color: #2196f3;
  &:hover {
    margin-left: 10px;
    color: #1976d2;
  }
}

.social-icons ul {
  text-align: center !important;
}

.navbar:not(.top-nav-collapse) {
  background-color: transparent !important;
}

.contact-icons {
  list-style: none;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #039be5;
  text-shadow: 1px 1px 4px #ff3547;
}

.navbar-dark .navbar-brand:hover {
  color: #007bff !important;
  text-shadow: 1px 1px 4px #ff3547;
}

@media screen and (max-width: 768px) {
  #contact .col-md-4.col-xl-3 {
    padding-top: 50px;
    text-align: center;
  }
}

#page-top > footer > .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: .95rem;
}

.bg-gradient {
  background-color: #5d33fb;
  background-image: -webkit-linear-gradient(0deg, #5d33fb, #4eefed);
  background-image: linear-gradient(90deg, #5d33fb, #4eefed);
}

.bg-parallax {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  .parallax-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(93, 51, 251, 0.5);
    background-image: -webkit-linear-gradient(0deg, rgba(93, 51, 251, 0.75), rgba(78, 239, 237, 0.75));
    background-image: linear-gradient(90deg, rgba(93, 51, 251, 0.75), rgba(78, 239, 237, 0.75));
  }
}
