/*---------------------------------------------------------
-----       ** xx. FontAwesome - Font Face **        -----
----------------------------------------------------------*/
@font-face {
  font-family: "FontAwesome5Brands";
  font-style: normal;
  font-weight: normal;font-display:swap;
  src: url(../fonts/fa5/webfonts/fa-brands-400.eot);
  src: url(../fonts/fa5/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fa5/webfonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa5/webfonts/fa-brands-400.woff) format("woff"), url(../fonts/fa5/webfonts/fa-brands-400.ttf) format("truetype"), url(../fonts/fa5/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}

.fab {
  font-family: "FontAwesome5Brands";
}

@font-face {
  font-family: "FontAwesome5";
  font-style: normal;
  font-weight: 300;font-display:swap;
  src: url(../fonts/fa5/webfonts/fa-light-300.eot);
  src: url(../fonts/fa5/webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"), url(../fonts/fa5/webfonts/fa-light-300.woff2) format("woff2"), url(../fonts/fa5/webfonts/fa-light-300.woff) format("woff"), url(../fonts/fa5/webfonts/fa-light-300.ttf) format("truetype"), url(../fonts/fa5/webfonts/fa-light-300.svg#fontawesome) format("svg");
}

.fal {
  font-weight: 300;
  font-family: "FontAwesome5";
}

@font-face {
  font-family: "FontAwesome5";
  font-style: normal;
  font-weight: 400;font-display:swap;
  src: url(../fonts/fa5/webfonts/fa-regular-400.eot);
  src: url(../fonts/fa5/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fa5/webfonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa5/webfonts/fa-regular-400.woff) format("woff"), url(../fonts/fa5/webfonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fa5/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}

.far {
  font-family: "FontAwesome5";
  font-weight: 400;
}

@font-face {
  font-family: "FontAwesome5";
  font-style: normal;
  font-weight: 900;font-display:swap;
  src: url(../fonts/fa5/webfonts/fa-solid-900.eot);
  src: url(../fonts/fa5/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../fonts/fa5/webfonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa5/webfonts/fa-solid-900.woff) format("woff"), url(../fonts/fa5/webfonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa5/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}

.fa, .fas {
  font-family: "FontAwesome5";
  font-weight: 900;
}

.fab:before {
  font-family: "FontAwesome5Brands";
}

.fal:before, .far:before, .fa:before, .fas:before {
  font-family: "FontAwesome5";
}

.fa:before, .fas:before {
  font-weight: 900;
}

.far:before {
  font-weight: 400;
}

.fal:before {
  font-weight: 300;
}

.fab:before {
  font-family: "FontAwesome5Brands";
  font-weight: normal;
}

.fal:before, .far:before, .fa:before, .fas:before {
  font-family: "FontAwesome5";
}