/*=========================================================
-----          ** 17. demon scrolltotop **            -----
=========================================================*/

.scrolltotop {
  cursor: pointer;
  border: 1px solid #d32f2f;
  padding: 8px 11px 10px;
  position: fixed;
  bottom: 1em;
  right: 20px;
  display: none;
  text-decoration: none;
  transition: all .5s ease-in-out;
  font-size: 16px;
  opacity: .75;
  z-index: 9999;
  background-color: transparent;
  color: #d32f2f !important;
  box-shadow: 0 5px 5px 0 rgba(64, 66, 72, 0.25);
  &:hover {
    color: #1976d2 !important;
    border: 1px solid #1976d2;
    opacity: 1;
    transition: all 250ms ease-in-out,opacity .2s linear;
  }
}
